<div>
  <h2>Chat</h2>
  <div>
    <label>Username:</label>
    <input [(ngModel)]="username" />
    <button (click)="setUsername()">Set Username</button>
  </div>
  <div>
    <label>Recipient:</label>
    <input [(ngModel)]="recipient" />
  </div>
  <div>
    <label>Message:</label>
    <input [(ngModel)]="message" />
    <button (click)="sendMessage()">Send</button>
  </div>
  <div>
    <h3>Received Messages</h3>
    <ul>
      <li *ngFor="let msg of messages">{{ msg.from }}: {{ msg.content }}</li>
    </ul>
  </div>
</div>
